.contact {
  width: 800px;
  display: flex;
  flex-direction: column;
  margin: 100px auto;
  font-size: 50px;
}

.contact-item {
  margin-bottom: 20px;
}

.contact-item > a {
  text-decoration: none;
}

@media only screen and (max-width: 768px) {
  .contact {
    width: 700px;
    font-size: 40px;
  }
}

@media only screen and (max-width: 411px) {
  .contact {
    width: 375px;
    font-size: 25px;
  }
}