.projects {
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  margin: 150px auto;
  color: white;
}
.project-containers {
  display: flex;
  flex-direction: column;
  margin: 50px;
  align-items: center;
}

.project-pic {
  margin-bottom: 20px;
  border-radius: 10px;
}

.project-text {
  width: 250px;
  font-size: 18px;
}

@media only screen and (max-width: 1025px) {
  .projects {
    width: 769px;
    margin-top: 50px;
  }
}

@media only screen and (max-width: 767px) {
  .projects {
    width: 412px;
  }
  .project-pic {
    width: 400px;
    height: auto;
  }
}

@media only screen and (max-width: 412px) {
  .projects {
    width: 360px;
  }
  .project-pic {
    width: 350px;
  }
}